.git
node_modules
vendor
.env
.env.*
!.env.example
storage/logs/*.log
storage/framework/cache
storage/framework/sessions
storage/framework/views
public/build
public/hot
public/storage
*.md
tests
.phpunit.result.cache
